@import "tailwindcss";
@import "@ella/ui/styles.css";
@import "react-pdf/dist/Page/AnnotationLayer.css";
@import "react-pdf/dist/Page/TextLayer.css";

@source "../src/**/*.{ts,tsx}";
@source "../../packages/ui/src/**/*.{ts,tsx}";
